<h1>Cars#edit</h1>
<p>Find me in app/views/cars/edit.html.erb</p>

<%= form_for @car do |f| %>
<%= f.text_field :name %>
<%= f.text_field :color %>
<%= f.text_field :make %>
<%= f.text_field :model %>
<%= f.number_field :year %>
<%= f.submit :submit %>
<% end %>